$body-color: #f158007e;
$body-accent-color: #FFFFFF06;
$name-color: #F15800;
$background-image: "http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcSevtUMlUmTaGUT8AOjbzmDgo13EHS8wfYafEemPlCYJ-B7aKPk4ljWr-FgZoDowziMULDn-h8KoHMifHxEcNw";

// NEED TO ACTUALLY THINK OF A COLOR HERE
$text-color: #6EA3DB;