$body-color: #0027507e;
$body-accent-color: #FFFFFF06;
$name-color: #6EA3DB;
$background-image: "https://www.almanac.com/sites/default/files/styles/opengraph/public/image_nodes/winter-road.jpg?itok=HILiplg2";

// NEED TO ACTUALLY THINK OF A COLOR HERE
$text-color: #6EA3DB;